@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Open+Sans:wght@300;400;600&display=swap");

:root {
    --font-primary: "Open Sans", sans-serif;
    --font-heading: "DM Sans", sans-serif;
    --size-base: 1.5rem;
    --size-sm: 1.4rem;
    --size-min: 1.1rem;
    --size-mid: 1.5rem;
    --size-large: 2.4rem;
    --size-header: clamp(2.8rem, 0.6rem + 1.6vw, 3.2rem);
    --color-primary: #363636;
    --color-inverted: #ffffff;
    --color-accent: #5057a6;
    --grey: #ebe9f5;
    --grey-light: #faf9ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

#link-top{
    text-decoration: none;
    color: white;
    background-color: var(--color-accent);
    padding: 15px;
    border-radius: 10px;
    position: fixed;
    right: 15px;
    bottom: 15px;
    box-shadow: 1px 1px 10px rgba(79, 79, 79, 0.421);
}

html {
    font-size: 10px;
    font-family: var(--font-primary);
    color: var(--color-primary);
}

body {
    font-size: var(--size-base);
    width: 90%;
    max-width: 100rem;
    margin: auto;
    padding: 4rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    background-color: #f0f0f0;
}

h1 {
    margin-bottom: 20px;
    border-bottom: 20px;
    border-radius: 3px;
    font-family: var(--font-heading);
    font-size: var(--size-header);
    line-height: 140%;
}

h2 {
    font-family: var(--font-heading);
    font-size: var(--size-large);
    line-height: 180%;
}

p {
    line-height: 200%;
}

p+p {
    margin-top: 1.2rem;
}

.text--size-min {
    font-size: var(--size-min);
}

 
.button {
    padding: 0.4rem 1rem;
    border: none;
    background: var(--color-accent);
    color: var(--color-inverted);
    border-radius: 0.2rem;
}

figure {
    padding: 0.8rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;    
}

figcaption {
    font-size: var(--size-min);
}

img {
    display: block;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%;
}

.input {
    border: 0.1rem solid var(--grey);
    height: 2.8rem;
}

.hidden--mobile {
    display: none;
}

/**/
header,
.menu-items,
.menu--all {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu-items,
.menu--all {
    gap: 2rem;
    list-style: none;
    font-size: var(--size-base);
}
.menu-items a {
    display: inline-block;
    padding-top: 10px;
    color: #0067b8;
    text-transform: uppercase;
    font-weight: bold;
  }

.menu--all {
    display: none;
}

article {
    display: flex;
    flex-direction: column;
    gap: 3.6rem;
}

.article-content {
    border-bottom: 2px solid var(--color-accent);
    display: flex;
    flex-direction: column;
}

.wrapper-action {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.subscribe {
    padding: 1.2rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

footer {
    width: 100%;
    text-align: center;
}

/**/
header * {
    font-size: var(--font-heading);
    font-weight: 700;
    line-height: 160%;
}

.logo {
    display: inline-block;
    font-size: var(--size-mid);
}

figure.banner-img img {
    width: 100%;   
    max-height: 60vh;
    object-fit: cover;
}

section {
    padding: 2rem 0;
}

.section--text {
    margin-top: 1.6rem
}

.wrapper-action button {
    font-size: 1.8rem;
}

.newsletter {
    padding: 1.6rem;
    background: var(--grey-light);
    border-radius: 0.4rem;
}

/**/
@media screen and (min-width: 48rem) {
    .hidden--mobile {
        display: block;
    }

    .menu-hidden {
        display: none;
    }

    .menu--all {
        display: flex;
    }

    .article-content {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-auto-flow: row dense;
    }

    .article-actions {
        grid-column: 1 / 2;
        position: relative;
    }

    .article-body {
        grid-column: 1  / -1;
    }

    .article-body img {
        width: 100%;
        margin-bottom: 20px;
        border-radius: 5px;
        box-shadow: 1px 1px 10px #36363642;
      }

    .wrapper-action {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 1.2rem;
        position: sticky;
        top: 2rem;
    }

    .newsletter {
        padding: 1.6rem 10%;
    }

    .subscribe {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 0;
    }

    .input {
        flex-grow: 2;
        border-radius: 0.2rem 0 0 0.2rem;
    }

    .listest:hover {
        border: 1px solid var(--color-accent);
        transition: all 0.5s ease-in-out;
        transform: translateY(-10px);
    }

    .continer .three .part_one .listest img {
        height: 80px;
        width: 80px;
    }

    .continer .three .part_one .listest h3:hover {
        color: var(--color-accent);
    }
}
/* Home cards */
.home-cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    margin-bottom: 40px;
  }
  
  .home-cards img {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #36363642;
  }
  
  .home-cards h3 {
    margin-bottom: 5px;
  }
  
  .home-cards a {
    display: inline-block;
    padding-top: 10px;
    color: #0067b8;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .home-cards a:hover i {
    margin-left: 10px;
  }

  /* Home cards */
  ul{
    font-size: 2rem;
    margin-top: 3em;
    margin-left: 2em;
    line-height: 3rem;
  }